h1 {
    text-align: center;
    color: rgb(230, 18, 18);
    font-family: 'Courier New';
    font-style: italic;
}

h2 {
    text-align: left;
    color: rgb(108, 155, 199);
    font-family: 'Courier New';
    font-style: italic;
}

p {
    text-align: justify;
    color: #000;
}